{% extends "base.html" %}
{% block body %}

<h1>Admin Dashboard</h1>
<div id="response-container" class="alert alert-dismissible fade show my-4 d-none">
    <span></span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<!-- Create User Modal -->
<div class="modal fade" id="newuser_modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create new user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" id="create-user-form" action="{{ url_for('admin.admin_page') }}"
                    class="needs-validation" novalidate>
                    <input type="hidden" name="task" value="create">
                    <div class="mb-3" id="newuser_type_radio_group">
                        <span class="me-4">User type:</span>
                        <div class="form-check form-check-inline me-4">
                            <input class="form-check-input" type="radio" name="userType" value="user"
                                id="newuser_type_user" checked>
                            <label class="form-check-label" for="newuser_type_user">
                                <i class="far fa-user"></i>
                                User
                            </label>
                        </div>
                        <div class="form-check form-check-inline me-4">
                            <input class="form-check-input" type="radio" name="userType" value="facility"
                                id="newuser_type_facility">
                            <label class="form-check-label" for="newuser_type_facility">
                                <i class="fas fa-industry-alt"></i>
                                Facility
                            </label>
                        </div>
                        <div class="form-check form-check-inline me-4">
                            <input class="form-check-input" type="radio" name="userType" value="admin"
                                id="newuser_type_admin">
                            <label class="form-check-label" for="newuser_type_admin">
                                <i class="far fa-user-cog"></i>
                                Admin
                            </label>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="username" id="newuser_username"
                            placeholder="Username" required>
                        <label for="newuser_username">Username</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" name="password" id="newuser_password"
                            placeholder="Password"
                            required>
                        <label for="newuser_password">Password</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="facility_name" id="newuser_facility_name"
                            placeholder="Facility
                            Name" disabled>
                        <label for="newuser_facility_name">Facility Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="facility_ref" id="newuser_facility_ref"
                            placeholder="Facility
                            internal ref" disabled>
                        <label for="newuser_facility_ref">Facility internal ref</label>
                    </div>
                    <button id="newuser_submit" type="submit" class="btn btn-primary w-100 mb-3">
                        <i class="far fa-user-plus me-1"></i>
                        Create user
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>


<nav>
    <div class="nav nav-tabs mt-4" id="nav-tab" role="tablist">
        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#users-table-content" type="button"
            role="tab" aria-controls="users-table-content" aria-selected="true">Users</button>
        <button class="nav-link me-auto" data-bs-toggle="tab" data-bs-target="#facilities-table-content" type="button"
            role="tab" aria-controls="facilities-table-content" aria-selected="false">Facilities</button>
        <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal"
            data-bs-target="#newuser_modal">
            <i class="far fa-user-plus me-1"></i>
            Create user
        </button>
    </div>
</nav>
<div class="tab-content" id="users-facilities-table-wrapper">
    <div class="tab-pane fade show active pt-3" id="users-table-content" role="tabpanel">

        <table id="users-table" class="table table-striped table-hover datatable">
            <thead class="thead-light">
                <tr>
                    <th>Username</th>
                    <th>Admin</th>
                    <th>Public ID</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ 'Yes' if user.admin else '' }}</td>
                    <td><code class="text-muted">{{ user.public_id }}</code></td>
                    <td>
                        <button class="btn btn-sm btn-outline-danger btn-delete-user" data-target="{{ user.username }}">
                            <i class="far fa-user-slash me-1"></i> Delete
                        </button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    <div class="tab-pane fade pt-3" id="facilities-table-content" role="tabpanel">

        <table id="facilities-table" class="table table-striped table-hover datatable">
            <thead class="thead-light">
                <tr>
                    <th>Username</th>
                    <th>Facility name</th>
                    <th>Facility reference</th>
                    <th>Public ID</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in facilities %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.internal_ref }}</td>
                    <td><code class="text-muted">{{ user.public_id }}</code></td>
                    <td>
                        <button class="btn btn-sm btn-outline-danger btn-delete-user" data-target="{{ user.username }}">
                            <i class="far fa-user-slash me-1"></i> Delete
                        </button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>

{% endblock body %}

{% block javascript %}
<script type="text/javascript">
$(function() {
    // Create user - enable facility fields when a facility user
    $('#newuser_type_radio_group input').change(function(){
        if($(this).val() == 'facility'){
            $('#newuser_facility_name').prop('disabled', false).prop('required', true);
            $('#newuser_facility_ref').prop('disabled', false).prop('required', true);
        } else {
            $('#newuser_facility_name').prop('disabled', true).prop('required', false);
            $('#newuser_facility_ref').prop('disabled', true).prop('required', false);
        }
    });

    $('#create-user-form').submit(function (e) {

        // Stop regular form submission
        e.preventDefault();

        var createForm = $(this);

        // Check if the central form validation function passed
        if(createForm.hasClass('failed-validation')){
            return;
        }

        $('#newuser_submit').prop('disabled', true);

        // Send the form data via AJAX
        $.post("{{ url_for('admin.admin_page') }}", createForm.serialize(), function(data){

            // Show the success message
            $('#response-container').addClass('alert-success').removeClass('d-none alert-danger');
            $('#response-container span').html('<strong>Success!</strong> '+data.message);

            // Trigger a download of a credentials file for the user
            username = $('#newuser_username').val();
            jObj = { username: username, password: $('#newuser_password').val() };
            config = new Blob([JSON.stringify(jObj, null, 4)], {type: 'text/json'});
            configUrl = URL.createObjectURL(config);
            link = document.createElement("a");
            link.href = configUrl;
            link.download = `${username}-config.json`;
            link.click();

            // Add to the table
            if(data.user.facility_ref){
                var dataTable = $('#facilities-table').DataTable();
                dataTable.row.add([
                    data.user.username, // Username
                    data.user.facility_name, // Facility name
                    data.user.facility_ref, // Facility reference
                    '<code class="text-muted">'+data.user.public_id+'</code>', // Public ID
                    '<button class="btn btn-sm btn-outline-danger btn-delete-user" data-target="'+data.user.username+'"><i class="far fa-user-slash me-1"></i> Delete</button></td>'
                ]).draw();
            } else {
                var dataTable = $('#users-table').DataTable();
                    dataTable.row.add([
                    data.user.username, // Username
                    data.user.admin ? 'Yes' : '', // Admin
                    '<code class="text-muted">'+data.user.public_id+'</code>', // Public ID
                    '<button class="btn btn-sm btn-outline-danger btn-delete-user" data-target="'+data.user.username+'"><i class="far fa-user-slash me-1"></i> Delete</button></td>'
                ]).draw();
            }

            // Hide the modal and reset the form
            $('#newuser_modal').modal('hide');
            createForm.trigger("reset").removeClass('was-validated');
            $('#newuser_submit').prop('disabled', false);

        }).fail(function(data){

            // Show an error message
            $('#response-container').addClass('alert-danger').removeClass('d-none alert-success');
            $('#response-container span').html('<strong>Error!</strong> '+data.responseJSON.message);

            // Hide the modal, do not reset the form
            $('#newuser_modal').modal('hide');
            $('#newuser_submit').prop('disabled', false);
        });

    });

    $('#users-facilities-table-wrapper').on('click', '.btn-delete-user', function(e){
        var account_name = $(this).data('target');
        var tableRow = $(this).closest('tr');
        if($(this).closest('table').attr('id') == 'facilities-table'){
            var dataTable = $('#facilities-table').DataTable();
            var usertype = 'facility';
        } else {
            var dataTable = $('#users-table').DataTable();
            var usertype = 'user';
        }
        if(!confirm("Really delete "+usertype+" '"+account_name+"'?")){
            return false;
        }
        $.post("{{ url_for('admin.admin_page') }}", {'task': 'delete', 'account_name': account_name}, function(data){

            // Show the success message
            $('#response-container').addClass('alert-success').removeClass('d-none alert-danger');
            $('#response-container span').html('<strong>Success!</strong> '+data.message);

            // Delete the table row
            dataTable.row(tableRow).remove().draw();

        }).fail(function(data){
            // Show an error message
            $('#response-container').addClass('alert-danger').removeClass('d-none alert-success');
            $('#response-container span').html('<strong>Error!</strong> '+data.responseJSON.message);
        });
    });

});

</script>
{% endblock javascript %}
