.material-icons.md20 { font-size: 20px; }

div.panel {
    width: 80%;
    padding: 15px 40px;
    background-color: #f0f0f0;
    align-content: center;
    border-radius: 10px;
}

div.panel-header {
    text-align: center;
    padding: 15px;
}

div.place-center {
    align-content: center;
}

div.input-group-prepend span{
background-color: #BDD775;
color: black;
border: 0;
}

.facility-box input {
width: 18px;
height: 18px;
margin-left: 15px;
margin-right: 5px;
}

input.submit_btn{
color: black;
background-color: #BDD775;
width: 100px;
}

input.submit_btn:hover{
color: white;
background-color: black;
}

div.navbar-brand {
    display: inline-block;
    padding-top: 0%;
 }

body {
    font-family: Lora !important;
 }

div.temp-holder {
    text-align: center;
}

h1.title {
    font-size: 60px;
    text-indent: 60px;
    display: inline-block;
    margin-top: 11px;
 }

.underlined {
     border-bottom: 1px solid #000;
     padding-bottom: 3px;
 }

ol.nonumber {
     list-style-type: circle;
 }

.tcenter {
     text-align: center;
 }

.error_msg{
     color: red;
     text-align: center;
 }

button.navbar-toggler {
    float: right;
    margin-top: 20px;
 }

div.right-button-container {
    float: right;
    padding-bottom: 20px;
 }

.btn-custom {
    padding: 7px 12px;
    font-size: 16px;
    border-radius: 3px;
 }

 /* Hover text related styles, taken from w3 examples */
.hovertip {
   position: relative;
   display: inline-block;
 }

 .hovertip .hovertiptext {
    visibility: hidden;
    background-color: #d3d3d3;
    color: black;
    text-align: center;
    font-size: 0.85em;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
  }

.hovertip .hovertiptext-filesize {
   width: 80px;
   height: 30px;
   top: -3px;
   left: 110%;
 }

.hovertip .hovertiptext-filesize::after {
   content: "";
   position: absolute;
   top: 50%;
   right: 100%;
   margin-top: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: transparent #d3d3d3 transparent transparent;
}

.hovertip .hovertiptext-download {
    width: 320px;
    bottom: 120%;
    left: 23%;
    margin-left: -140px;
    font-size: 0.95em;
    padding: 5px;
 }

.hovertip .hovertiptext-download::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-bottom: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #d3d3d3 transparent transparent;
    transform: rotate(-90deg);
 }

.hovertip:hover .hovertiptext {
   visibility: visible;
}


/* clipboard icon related */

.md-icon{
    width: 20px;
    height: 20px;
}

.copy-icon{
    grid-area: copy-icon;
    padding: 4px 5px;
}

.copy-icon-followed {
    grid-area: copy-icon-followed;
    padding-top: 5px;
}

.clipboard-row {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: auto 32px;
    grid-template-areas: "copy-icon-followed copy-icon";
}

/* download icon related stuff */

#download-button:disabled {
    cursor: help;
}
span.li-dwn-box {
    padding-right: 5px;
    vertical-align: 2%;
    cursor: pointer;
    visibility: hidden;
}

