**/.*
**/*.pyc
**/__pycache__
couchdb-data
venv
**/sensitive
filenumber*
testfile*
files
*settings.json*
*info.md*
create_account.py
demo
passphrase*
**/*DataDelivery*
**/docker-compose*.yml
**/run_dir
**/safespring_invoicespec.csv