.DS_Store
*.pyc
__pycache__
couchdb-data
dportal.yaml
dportal.yaml.sample
venv
*.egg*
.vscode
.Rproj.user
sensitive
filenumber*
testfile*
files
test*
dp_venv
*settings.json*
*info.md*
create_account.py
*demo*