run_dir/*
dds_web/static/css/
.DS_Store
dds_web/static/node_modules/
*.pyc
__pycache__
couchdb-data
dportal.yaml
dportal.yaml.sample
venv
ds_venv
cli_venv
*.egg*
.vscode
.Rproj.user
passphrase*
sensitive
filenumber*
testfile*
files
dp_venv
*settings.json*
*info.md*
create_account.py
demo
passphrase*
*DataDelivery*
old_version_files*
temp_*
my_*
*web_updown*
dds_conf.yml
safespring_invoicespec.csv
dds_web/development/invoicing/*
dds_variables.env
cython_tools
coverage/*