argon2_cffi
boto3
cryptography==3.3.2
Flask==1.1.2
flask-marshmallow==0.14.0
Flask-RESTful==0.3.8
Flask-SQLAlchemy==2.5.1
immutabledict
marshmallow-sqlalchemy==0.24.1
PyMySQL==0.10.1
PyNaCl==1.4.0
pytz==2020.1
PyJWT==v1.7.1
zstandard
authlib
