img.scilife_logo {
    height: 55px;
    width: 252px;
    float: left;
 }

div.nav_header {
    min-width: 450px;
    text-align: center;
    vertical-align: middle;
    font-family: 'Book Antiqua';
    font-size: 36px;
 }
 
 a.nav_color {
     color: black;
 }
 
.material-icons.md20 { font-size: 20px; }

div.panel {
    width: 80%;
    padding: 15px 40px;
    background-color: #f0f0f0;
    align-content: center;
    border-radius: 10px;
}

div.panel-header {
    text-align: center;
    padding: 15px;
}

div.place-center {
    align-content: center;
}

div.input-group-prepend span{
background-color: #BDD775;
color: black;
border: 0;
}

.facility-box input {
width: 18px;
height: 18px;
margin-left: 15px;
margin-right: 5px;
}

input.submit_btn{
color: black;
background-color: #BDD775;
width: 100px;
}

input.submit_btn:hover{
color: white;
background-color: black;
}

div.navbar-brand {
    display: inline-block;
    padding-top: 0%;
 }
  
body {
    font-family: Lora !important;
 }

div.temp-holder {
    text-align: center;
}
  
h1.title {
    font-size: 60px;
    text-indent: 60px;
    display: inline-block;
    margin-top: 11px;
 }
 
.underlined {
     border-bottom: 1px solid #000;
     padding-bottom: 3px;
 }

ol.nonumber {
     list-style-type: circle;
 }

.tcenter {
     text-align: center;
 }
 
.error_msg{
     color: red;
     text-align: center;
 }

button.navbar-toggler {
    float: right;
    margin-top: 20px;
 }

div.right-button-container {
    float:right;
    padding-bottom: 20px;
 }

 /* Hover text related styles, taken from w3 examples */
.hovertip {
   position: relative;
   display: inline-block;
 }

.hovertip .hovertiptext {
   visibility: hidden;
   width: 80px;
   height: 30px;
   background-color: #d3d3d3;
   color: black;
   text-align: center;
   font-size: 0.85em;
   border-radius: 6px;
   padding: 5px 0;
   position: absolute;
   z-index: 1;
   top: -3px;
   left: 110%;
 }

.hovertip .hovertiptext::after {
   content: "";
   position: absolute;
   top: 50%;
   right: 100%;
   margin-top: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: transparent #d3d3d3 transparent transparent;
}

.hovertip:hover .hovertiptext {
   visibility: visible;
}

.hover-box:hover{
    background: #f4f0ec;
    border-radius: 6px;
    border: 0.5px solid #d3d3d3;
}

/* clipboard icon related */

.md-icon{
    width: 20px;
    height: 20px;
}

.copy-icon{
    grid-area: copy-icon;
    padding: 4px 5px;
}

.copy-icon-followed {
    grid-area: copy-icon-followed;
    padding-top: 5px;
}

.clipboard-row {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: auto 32px;
    grid-template-areas: "copy-icon-followed copy-icon";
}

/* for upload button */

.upload-label{
  display: inline-block;
  background-color: #BDD775;
  color: black;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 14px;
}

.upload-span{
    grid-area: upload-span;
    padding-right: 0px;
}

.upload-followed {
    grid-area: upload-followed;
    padding-top: 25px;
    padding-left: 110px;
}

.upload-row {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: auto 90px;
    grid-template-areas: "upload-followed upload-span";
}
