<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="png">
        <title>Data Delivery System</title>
    </head>

    <body>
       <nav class="navbar navbar-light bg-light">
            <!-- Should also add a if g.am_admin here somewhere -->
            <img class="scilife_logo" src="{{ url_for('static', filename='img/scilifelab_logo.png') }}">
            <div class="nav_header"> Data Delivery System </div>

           <ul class="nav justify-content-end">
             <li class="nav-item">
               <a class="nav-link nav_color" href="{{ url_for('home') }}">Home</a>
             </li>
             <li class="nav-item">
               <a class="nav-link nav_color" href="#">About</a>
             </li>
             {% if g.current_user %}
             <li class="nav-item">
                 <a class="nav-link nav_color" href="{{ url_for('user.user_page', loginname=g.current_user) }}">{{ g.current_user }}</a>
             </li>
             <li class="nav-item">
               <a class="nav-link nav_color" href="{{ url_for('user.logout') }}">Logout</a>
             </li>
             {% else %}
             <li class="nav-item">
               <a class="nav-link nav_color" href="{{ url_for('user.login') }}">Login</a>
             </li>
             {% endif %}
           </ul>
        </nav>

        <br><br>
        <div class="container" style="background: white;">
            {% block body %} Will be replaced by other templates {% endblock body %}
        </div>

        <!-- Javascript -->
        <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='node_modules/datatables.net/js/jquery.dataTables.min.js') }}"></script>
        <!-- TODO - bs5 version not yet on npm. When it is, install as an npm package. -->
        <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap5.min.js"></script>
        <script src="{{ url_for('static', filename='js/dds.js') }}"></script>
    </body>
</html>
