<html>
    <head>
        <title>Registration form</title>
    </head>
    <body>
        <h1>The form will be here</h1>
        <form method="POST" action="{{ url_for('api_blueprint.new_user') }}">
            {{ form.csrf_token }}
            {{ form.username.label }}
            {{ form.username }}
            <ul>
                {% for error in form.username.errors %}
                <li style="color:red;">{{ error }}</li>
                {% endfor %}
            </ul>

            {{ form.password.label }}
            {{ form.password }}
            <ul>
                {% for error in form.password.errors %}
                <li style="color:red;">{{ error }}</li>
                {% endfor %}
            </ul>

            <input type="submit" value="Submit">
        </form>
    </body>
</html>