<nav class="navbar navbar-expand-md navbar-light bg-light mb-3 shadow-sm">
         <div class="container-fluid">
            <!-- Should also add a if g.am_admin here somewhere -->
            <a class="navbar-brand" href="#">
              <img src="{{ url_for('static', filename='img/scilifelab_symbol.svg') }}" alt="" height="24" class="d-inline-block align-text-top me-2">
              SciLifeLab Data Delivery System
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">

              <ul class="nav navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">About</a>
                </li>
                {% if g.current_user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user.user_page', loginname=g.current_user) }}">{{ g.current_user }}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('user.logout') }}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('user.login') }}">Login</a>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </nav>
