{% extends "base.html" %}

{% block body %}
    <div class="container p-0" style="margin-top: 30px; font-size: medium;">
        <h2>Technical Overview of the Data Delivery System</h2>
        <p>The technical overview provides an overview of how the DDS works and is meant to be used. The document can be found on GitHub or downloaded as a PDF.</p>
        <p class="lead"><a class="btn btn-info" href="https://github.com/ScilifelabDataCentre/dds_web/blob/master/doc/Technical-Overview.pdf" target="_blank">Read on GitHub</a>&nbsp;<a class="btn btn-info" href="https://github.com/ScilifelabDataCentre/dds_web/raw/master/doc/Technical-Overview.pdf">Download the PDF</a>&nbsp;</p>
        <br>
    </div>
{% endblock %}
