{% extends "base.html" %}

{% block body %}
<html>
    <div class="container p-0" style="margin-top: 30px; font-size: medium;">
        <h2>Technical Overview of the Data Delivery System</h2>
        <p>The technical overview provides an overview of how the DDS works and is meant to be used. The document can be found on Confluence or downloaded as a PDF.</p>
        <p class="lead"><a class="btn btn-info" href="https://scilifelab.atlassian.net/wiki/spaces/deliveryportal/pages/2201944070/2022+June+-+Technical+Overview" target="_blank">Read on Confluence</a>&nbsp;<a class="btn btn-info" href="https://scilifelab.atlassian.net/wiki/download/attachments/2201944070/2022-June_Technical-Overview.pdf?api=v2">Download the PDF</a>&nbsp;</p>
        <br>
    <footer class="footer">
        <div class="container-fluid">
            <div class="row text-muted">
                <div class="col-md-10">
                    <p>The Data Delivery System is developed and maintained by the <a href="https://scilifelab.se/data">SciLifeLab Data Centre</a>. With any questions please email datacentre@scilifelab.se.</p>
                </div>
            </div>
        </div>
    </footer>
    </div>
    

</html>
{% endblock %}
