{% extends 'base.html' %}

{% block body %}

<div class="modal fade" id="changePassword_modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Change Password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" id="create-user-form" action=""
                    class="needs-validation" novalidate>
                    <input type="hidden" name="task" value="create">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" required>
                        <label for="newuser_username">Old Password</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" required>
                        <label for="newuser_password">New Password</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" required>
                        <label for="newpass_password">Retype New Password</label>
                    </div>
                    <button id="newpass_submit" type="submit" class="btn btn-primary w-100 mb-3">
                        <i class="far fa-save me-1"></i>
                        Save
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editUser_modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update email address</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" id="create-user-form" action=""
                    class="needs-validation" novalidate>
                    <input type="hidden" name="task" value="create">
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" required>
                        <label for="newuser_password">New Email</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" required>
                        <label for="newpass_password">Retype New Email</label>
                    </div>
                    <button id="newpass_submit" type="submit" class="btn btn-primary w-100 mb-3">
                        <i class="far fa-save me-1"></i>
                        Save
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<h1 class="mb-4"> Account Information </h1>
<div class="container w-75 mx-auto mb-4">
    <div class="bg-light px-2 py-1">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <th>  Username </th>
                    <td> {{ test.username }} </td>
                    <td></td>
                </tr>
                <tr>
                    <th>  Permissions </th>
                    <td> {{ test_get }} </td>
                    <td></td>
                </tr>
                <tr>
                    <th>  Name </th>
                    <td> {{ test.first_name }} {{ test.last_name }} </td>
                    <td>
                        <button class="btn btn-sm btn-outline-info float-end py-0" id="editName" style="display:none" data-bs-toggle="modal" data-bs-target="#editUser_modal">
                            <i class="far fa-user-edit" data-bs-toggle="tooltip" data-bs-placement="right" title="Edit"></i>
                        </button>
                    </td>
                {% for count, email in enumerate(test.email) %}
                <tr>
                    {% if  count == 0 %}
                        <th>  Email  </th>
                        <!-- TO DO: change to if primary for badge... -->
                        <td> {{ email }} <span class="badge bg-info mx-2 px-1 py-1 ">Primary</span> </td>
                        <td>
                            <button class="btn btn-sm btn-outline-info float-end py-0" id="editEmail{{count}}" style="display:none" data-bs-toggle="modal" data-bs-target="#editUser_modal" >
                                <i class="far fa-user-edit" data-bs-toggle="tooltip" data-bs-placement="right" title="Edit" ></i>
                            </button>
                        </td>
                    {% else %}
                        <th></th>
                        <td> {{ email }} </td>
                        <td>
                            <button class="btn btn-sm btn-outline-info float-end py-0" id="editEmail{{count}}" style="display:none" data-bs-toggle="modal" data-bs-target="#editUser_modal" >
                                <i class="far fa-user-edit" data-bs-toggle="tooltip" data-bs-placement="right" title="Edit"></i>
                            </button>
                            <button class="btn btn-sm btn-outline-danger float-end mx-1 py-0" id="deleteEmail{{count}}" style="display:none" >
                                <i class="far fa-trash-can"  data-bs-toggle="tooltip" data-bs-placement="left" title="Delete"></i>
                            </button>
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="text-end">
        <button type="button" class="btn btn-sm end btn-outline-info my-2 mx-1" data-bs-toggle="modal" data-bs-target="#changePassword_modal">
            <i class="far fa-lock me-2"></i>
            Change password
        </button>
        <button type="button" class="btn btn-sm btn-outline-info my-2 mx-1" id="editFields" value="true">
            <i class="far fa-user-edit me-2"></i>
            Edit
            <!-- <i class="far fa-check-circle me-2"></i>
            Done -->
        </button>
    </div>
</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">

$(function() {
    $("#editFields").on('click', function() {
        $("#editName").toggle();
        {% for count, email in enumerate(test.email) %}
            $("#editEmail{{count}}").toggle();
            $("#deleteEmail{{count}}").toggle();
        {% endfor %}
        $('[data-bs-toggle="tooltip"]').tooltip();
        // $(this).html("Done")
    });
});
// $('[data-toggle="tooltip"]').tooltip()
</script>


{% endblock javascript %}