{% extends 'base.html' %}

{% block body %}

<div class="modal fade" id="changePass_modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Change Password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" id="create-user-form" action=""
                    class="needs-validation" novalidate>
                    <input type="hidden" name="task" value="create">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" required>
                        <label for="newuser_username">Old Password</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" required>
                        <label for="newuser_password">New Password</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" required>
                        <label for="newpass_password">Retype New Password</label>
                    </div>
                    <button id="newpass_submit" type="submit" class="btn btn-primary w-100 mb-3">
                        <i class="far fa-save me-1"></i>
                        Save
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>


<h1 class="mb-4"> Account Information</h1>
<div class="container w-75 mx-auto">
    <div class="container bg-light px-2 py-1">
        <table class="table">
            <tbody>
                <tr>
                    <th>  username </th>
                    <td> {{ test.username }} </td>
                    <td></td>
                </tr>
                <tr>
                    <th>  Name </th>
                    <td> {{ test.first_name }} {{ test.last_name }} </td>
                    <td>
                        <button class="btn btn-sm btn-outline-info float-end" >
                            <i class="far fa-user-edit"></i>
                        </button>
                    </td>
                {% for count, email in enumerate(test.email) %}
                <tr>
                    {% if  count == 0 %}
                    <th>  Email  </th>
                    {% else %}
                    <th></th>
                    {% endif %}
                    <td> {{ email }} </td>
                    <td>
                        <button class="btn btn-sm btn-outline-info float-end" >
                            <i class="far fa-user-edit"></i>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <button type="button" class="btn btn-sm btn-outline-info float-end my-2 mx-1" data-bs-toggle="modal" data-bs-target="#changePass_modal">
        <i class="far fa-lock me-2"></i>
        Change password
    </button>
</div>

{% endblock %}