<nav class="bg-light shadow-sm mb-3">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start p-2">
            <a href="{{ url_for('pages.home') }}" class="navbar-brand fs-4 d-flex my-2 my-lg-0 me-lg-auto link-body">
                <img src="{{ url_for('static', filename='img/scilifelab_logo.svg') }}" title="SciLifeLab" style="height: 2rem;" class="hide-dark align-text-top me-3">
                <img src="{{ url_for('static', filename='img/scilifelab_logo_darkbg.svg') }}" title="SciLifeLab" style="height: 2rem;" class="hide-light align-text-top me-3">
                <span class="ms-3 fw-light">Data Delivery System</span>
            </a>

            <ul class="nav col-12 col-lg-auto my-2 my-md-0 justify-content-center text-center">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('pages.home') }}">
                        <i class="fa-solid fa-home d-block mx-auto"></i>
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://scilifelabdatacentre.github.io/dds_cli/installation/" target="_blank" title="Download the command line tool to fetch your data">
                        <i class="fa-solid fa-display-arrow-down d-block mx-auto"></i>
                        Download DDS
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://scilifelabdatacentre.github.io/dds_cli/" target="_blank" title="Documentation about using the DDS system">
                        <i class="fa-solid fa-book d-block mx-auto"></i>
                        Documentation
                    </a>
                </li>
                {% if g.current_user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth_blueprint.projects_info') }}">
                        <i class="fa-solid fa-list-alt d-block mx-auto"></i>
                        Projects
                    </a>
                </li>
                <li class="nav-item n">
                    <a class="nav-link" href="{{ url_for('auth_blueprint.account_info') }}">
                        <i class="fa-solid fa-user-circle d-block mx-auto"></i>
                        {{ g.current_user }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth_blueprint.logout_get') }}">
                        <i class="fa-solid fa-sign-out d-block mx-auto"></i>
                        Logout
                    </a>
                </li>
                {% else %}
                <li class="nav-item mx-2">
                    <a class="btn btn-success" href="{{ url_for('auth_blueprint.login') }}">
                        <i class="fa-solid fa-sign-in-alt d-block mx-auto"></i>
                        Log In
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

