<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet">
        <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
            crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/48759fdc40.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <!-- <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'> -->
        <link rel="stylesheet" href="{{ url_for('static',
            filename='css/style.css') }}">
        <link rel="shortcut icon" src="{{ url_for('static', filename='img/favicon.png') }}">
        <title>Data Delivery System</title>
    </head>

    <body>


       <nav class="navbar navbar-light bg-light">
                <!-- Should also add a if g.am_admin here somewhere >
                <div class="navbar-header"-->
                    <img class="scilife_logo" src="{{ url_for('static',
                        filename='img/scilifelab_logo.png') }}">
                    <div class="nav_header"> Data Delivery System Blablablabla</div>
                
            
                
               <ul class="nav justify-content-end">
                 <li class="nav-item">
                   <a class="nav-link nav_color" href="{{ url_for('home') }}">Home</a>
                 </li>
                 <li class="nav-item">
                   <a class="nav-link nav_color" href="#">About</a>
                 </li>
                 {% if g.current_user %}
                 <li class="nav-item">
                   <a class="nav-link nav_color" href="{{ url_for('user.user_page', loginname=g.current_user) }}">{{ g.current_user }}</a>
                 </li>
                 <li class="nav-item">
                   <a class="nav-link nav_color" href="{{ url_for('user.logout') }}">Logout</a>
                 </li>
                 {% else %}
                 <li class="nav-item">
                   <a class="nav-link nav_color" href="{{ url_for('user.login') }}">Login</a>
                 </li>
                 {% endif %}
               </ul>
        </nav>


        <br><br>
        <div class="container" style="background: white;">
            {% block body %} Will be replaced by other templates {% endblock body %}
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    </body>
</html>
