{% extends 'base.html' %}

{% block body %}
  <main role="main">
    <div class="jumbotron" style="background: #f0f0f0;">
        <div class="col-sm-8 mx-auto">
            <h1>Information about the DS</h1>
            <p>
                This is some information about the Delivery System
                and maybe a <a href="#">link</a> to the login page.
                There could also be some information on how to use
                the CLI <code>ds_deliver</code>.
            </p>
        </div>
    </div>
  </main>
{% endblock %}