{% extends 'base.html' %}

{% block body %}
  <main role="main">
    <div class="jumbotron justify-content-center" style="background: #f0f0f0;">
        <div class="temp-holder">
            <h3>Information about the DS</h3>
            <br>
            <p>
                ** Dashboard and other homepage coming here soon **
            </p>
        </div>
    </div>
    <div class="plot-container">
        <div id="data-bar" class="half-plot"></div>
    </div>
    </div>
  </main>
{% endblock %}