{% extends "base.html" %}

{% block page_title -%}
Your account
{%- endblock %}

{% block body %}

<div class="container w-75 mx-auto bg-light my-4 px-3 py-1">
    <div class="row my-3">
        <div class="col-sm fw-bold">
            Username
        </div>
        <div class="col-sm">
            {{ g.current_user }}
        </div>
    </div>
    <div class="row my-3">
        <div class="col-sm fw-bold">
            Password
        </div>
        <div class="col-sm">
            <a href="{{ url_for('auth_blueprint.change_password') }}">Change password</a>
        </div>
    </div>

    {% for i, email in enumerate(g.current_user_emails) %}
        <div class="row my-2">
            <div class="col-sm fw-bold">
                {% if i == 0 %}
                    Email address
                {% endif %}
            </div>
            <div class="col-sm">
                {{ email.email }}
                {% if email.primary == true %}
                    <span class="badge bg-info ms-3 px-1"> Primary </span>
                {% endif %}
            </div>
        </div>
    {% endfor %}

</div>
{% endblock %}
