{% extends "base.html" %}

{% block page_title -%}
Change Password
{%- endblock %}

{% block body %}

    <form method="POST" action="">
        {{ form.csrf_token }}
        <!-- Current Password -->
        {{ form.current_password.label }}
        {{ form.current_password }}
        <ul>
            {% for error in form.current_password.errors %}
            <li style="color:red;">
                {{ error }}
            </li>
            {% endfor %}
        </ul>

        <!-- New Password -->
        {{ form.new_password.label }}
        {{ form.new_password }}
        <ul>
            {% for error in form.new_password.errors %}
            <li style="color:red;">
                {{ error }}
            </li>
            {% endfor %}
        </ul>

        <!-- Confirm password -->
        {{ form.confirm_new_password.label }}
        {{ form.confirm_new_password }}
        <ul>
            {% for error in form.confirm_new_password.errors %}
            <li style="color:red;">
                {{ error }}
            </li>
            {% endfor %}
        </ul>


        <!-- Submit button -->
        {{ form.submit }}

    </form>

{% endblock %}
