{% extends "base.html" %}

{% block page_title -%}
Change Password
{%- endblock %}

{% block body %}

<form method="POST" action="">
    {{ form.csrf_token }}

    <!-- Current Password -->
    <div class="row mb-3">
        {{ form.current_password.label(class="col-md-2 col-form-label") }}
        <div class="col-md-6">
            {{ form.current_password(class="form-control mb-2"+(" is-invalid" if form.current_password.errors else "")) }}
            {% if form.current_password.errors %}
                {% for error in form.current_password.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <!-- New Password -->
    <div class="row mb-3">
        {{ form.new_password.label(class="col-md-2 col-form-label") }}
        <div class="col-md-6">
            {{ form.new_password(class="form-control mb-2"+(" is-invalid" if form.new_password.errors else "")) }}
            {% if form.new_password.errors %}
                {% for error in form.new_password.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <!-- Confirm password -->
    <div class="row mb-3">
        {{ form.confirm_new_password.label(class="col-md-2 col-form-label") }}
        <div class="col-md-6">
            {{ form.confirm_new_password(class="form-control mb-2"+(" is-invalid" if form.confirm_new_password.errors else "")) }}
            {% if form.confirm_new_password.errors %}
                {% for error in form.confirm_new_password.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-success mb-2">
        <i class="fa-solid fa-key me-2"></i>
        Change password
    </button>
</form>

{% endblock %}
