{% extends "base.html" %}

{% block page_title -%}
DDS Multi-Factor Authentication
{%- endblock %}

{% block body %}

    <p class="lead">Please enter your one-time authentication code.</p>
    <p>Please complete the login by entering the one-time authentication code that was sent to you.
        The one-time codes are valid for a short time (15 minutes) after they have been issued.
    </p>
    <form method="POST" action="{{ url_for('auth_blueprint.confirm_2fa', next=next) }}">
        {{ form.csrf_token }}

        <!-- Token -->
        {{ form.hotp.label }}
        {{ form.hotp }}
        <ul>
            {% for error in form.hotp.errors %}
            <li style="color:red;">
                {{ error }}
            </li>
            {% endfor %}
        </ul>

        <!-- Submit button -->
        {{ form.submit }}

    </form>

    <form method="POST" action="{{ url_for('auth_blueprint.cancel_2fa') }}">
        {{ cancel_form.csrf_token }}
        {{ cancel_form.cancel }}
    </form>

{% endblock %}
