{% extends "base.html" %}

{% block page_title -%}
Log in to DDS
{%- endblock %}

{% block body %}


        <p>
            For information on how to use the Data Delivery System, as well as
            see a test protocol, go <a
                href="https://github.com/ScilifelabDataCentre/dds_cli/blob/master/docs/_build/latex/datadeliverysystem.pdf">here</a>.
        </p>

    <form method="POST" action="{{ url_for('auth_blueprint.login', next=next)
        }}">
        {{ form.csrf_token }}

        <!-- Username -->
        {{ form.username.label }}
        {{ form.username }}
        <ul>
            {% for error in form.username.errors %}
            <li style="color:red;">
                {{ error }}
            </li>
            {% endfor %}
        </ul>

        <!-- Password -->
        {{ form.password.label }}
        {{ form.password }}
        <ul>
            {% for error in form.password.errors %}
            <li style="color:red;">
                {{ error }}
            </li>
            {% endfor %}
        </ul>


        <!-- Submit button -->
        {{ form.submit }}

        <small class="text-muted ml-2">
            <a href="{{ url_for('auth_blueprint.request_reset_password')
                }}">
                Forgot Password?
            </a>
        </small>

    </form>

{% endblock %}
