{% extends "bootstrap/base.html" %}

{% block page_title %}Password Updated!{% endblock %}

{% block body %}

  <h1>Password updated!</h1>
  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %}
  <div class="flashes">
    {% for category, message in messages %}
    <div class="alert alert-{{category}}" role="alert">{{ message }}</div>
    {% endfor %}
  </div>
  {% endif %} {% endwith %} {% if units_to_contact %}
  <p>
    <b>You have lost access to your active projects when you reset your
      password.</b>
  </p>
  <p>
    Please contact the units where you have active projects to restore your
    access.
  </p>

  <p>You have active projects in</p>
  <p></p>
  <ul>
    {% for unit_name, contact in units_to_contact.items()%}
    <li>{{ unit_name }}: {{ contact }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  <small class="text-muted ml-2">
    <a
      href="{{ url_for('auth_blueprint.login')
      }}">
      Back to Login
    </a>
  </small>

  {% endblock %}
