{% extends "base.html" %}

{% block page_title -%}
Password Updated!
{%- endblock %}

{% block body %}

  {% if units_to_contact %}
  <div class="alert alert-danger">
    <h6 class="alert-heading">Lost access</h6>
    <p class="lead">
      <strong>Warning:</strong>
      You have lost access to your active projects when you reset your password.
    </p>
    <p>
      Please contact the units where you have active projects to restore your access.
    </p>
  </div>

  <p>You have active projects in:</p>
  <ul>
    {% for unit_name, contact in units_to_contact.items()%}
    <li>{{ unit_name }}: {{ contact }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  <p class="small text-muted ml-2">
    <a href="{{ url_for('auth_blueprint.login') }}">
      Back to Login
    </a>
  </p>

{% endblock %}
