{% extends "base.html" %}

{% block page_title -%}
Create account
{%- endblock %}

{% block body %}

<p class="lead">Many thanks for your interest in using the SciLifeLab Data Delivery System.</p>
<p>Please use the form below to configure your account.</p>

<form method="POST" action="{{ url_for('auth_blueprint.register') }}" class="mt-4">
    {{ form.csrf_token }}

    <!-- Name -->
    <div class="row mb-3">
        {{ form.name.label(class="col-md-2 col-form-label") }}
        <div class="col-md-6">
            {{ form.name(class="form-control mb-2"+(" is-invalid" if form.name.errors else "")) }}
            {% if form.name.errors %}
                {% for error in form.name.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <!-- Email -->
    <div class="row mb-3">
        {{ form.email.label(class="col-md-2 col-form-label") }}
        <div class="col-md-6">
            {{ form.email(class="form-control mb-2"+(" is-invalid" if form.email.errors else "")) }}
            {% if form.email.errors %}
                {% for error in form.email.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <!-- Username -->
    <div class="row mb-3">
        {{ form.username.label(class="col-md-2 col-form-label") }}
        <div class="col-md-6">
            {{ form.username(class="form-control mb-2"+(" is-invalid" if form.username.errors else "")) }}
            {% if form.username.errors %}
                {% for error in form.username.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <!-- Password -->
    <div class="row mb-3">
        {{ form.password.label(class="col-md-2 col-form-label") }}
        <div class="col-md-6">
            {{ form.password(class="form-control mb-2"+(" is-invalid" if form.password.errors else "")) }}
            {% if form.password.errors %}
                {% for error in form.password.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <!-- Confirm password -->
    <div class="row mb-3">
        {{ form.confirm.label(class="col-md-2 col-form-label") }}
        <div class="col-md-6">
            {{ form.confirm(class="form-control mb-2"+(" is-invalid" if form.confirm.errors else "")) }}
            {% if form.confirm.errors %}
                {% for error in form.confirm.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
    </div>


    <!-- Unit -->
    {% if unit %}
    <div class="row mb-3">
        <label class="col-md-2 col-form-label">Unit name</label>
        <div class="col-md-6">
            {{ unit }}
        </div>
    </div>
    {% endif %}

    <!-- Submit button -->
    <button type="submit" class="btn btn-success mb-2">
        <i class="fa-solid fa-user-plus me-2"></i>
        Create Account
    </button>

</form>

{% endblock %}
