{% extends "base.html" %}

{% block page_title -%}
Reset Password
{%- endblock %}

{% block body %}

<form method="POST" action="">
    {{ form.csrf_token }}

    <div class="row mb-3">

        <!-- Email -->
        {{ form.email.label(class="col-md-auto col-form-label") }}
        <div class="col-md-3">
            {{ form.email(class="form-control mb-2"+(" is-invalid" if form.email.errors else ""), type="email") }}
            {% if form.email.errors %}
                {% for error in form.email.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>

        <!-- Submit button -->
        <div class="col">
            <button type="submit" class="btn btn-success mb-2">
                <i class="fa-solid fa-paper-plane me-2"></i>
                Request password reset
            </button>
        </div>
    </div>

</form>

{% endblock %}
