{% extends "base.html" %}

{% block page_title -%}
Reset Password
{%- endblock %}

{% block body %}

    <form method="POST" action="">
        {{ form.csrf_token }}

        <!-- Email -->
        {{ form.email.label }}
        {{ form.email }}
        <ul>
            {% for error in form.email.errors %}
            <li style="color:red;">
                {{ error }}
            </li>
            {% endfor %}
        </ul>


        <!-- Submit button -->
        {{ form.submit }}

    </form>

{% endblock %}
