{% extends "base.html" %}

{% block page_title -%}
Reset Password
{%- endblock %}

{% block body %}

<form method="POST" action="">
    {{ form.csrf_token }}

    <div class="row mb-3">

        <!-- Password -->
        {{ form.password.label(class="col-md-2 col-form-label") }}
        <div class="col-md-6">
            {{ form.password(class="form-control mb-2"+(" is-invalid" if form.password.errors else "")) }}
            {% if form.password.errors %}
                {% for error in form.password.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>

    </div>
    <div class="row mb-3">

        <!-- Confirm password -->
        {{ form.confirm_password.label(class="col-md-2 col-form-label") }}
        <div class="col-md-6">
            {{ form.confirm_password(class="form-control mb-2"+(" is-invalid" if form.confirm_password.errors else "")) }}
            {% if form.confirm_password.errors %}
                {% for error in form.confirm_password.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-success mb-2">
        <i class="fa-solid fa-key me-2"></i>
        Reset password
    </button>

</form>

{% endblock %}
