{% extends "base.html" %}

{% block page_title -%}
Reset Password
{%- endblock %}

{% block body %}

    <form method="POST" action="">
        {{ form.csrf_token }}

        <!-- Password -->
        {{ form.password.label }}
        {{ form.password }}
        <ul>
            {% for error in form.password.errors %}
            <li style="color:red;">
                {{ error }}
            </li>
            {% endfor %}
        </ul>

        <!-- Confirm password -->
        {{ form.confirm_password.label }}
        {{ form.confirm_password }}
        <ul>
            {% for error in form.confirm_password.errors %}
            <li style="color:red;">
                {{ error }}
            </li>
            {% endfor %}
        </ul>


        <!-- Submit button -->
        {{ form.submit }}

    </form>

{% endblock %}
