
{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="jumbotron text-center p-4">
                <h4>Setup and Authenticate 2FA</h4>
            </div>
            <div>
                <h5>Instructions!</h5>
                <ul>
                    <li>Download an authenticator on your phone, for example
                        <a
                            href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=en&gl=US"
                            target="_blank">Google Authenticator</a>.</li>
                    <li>More instructions <strong>here</strong></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-5">
            <form>
                
                <div>
                    <img id="qrcode" src="{{
                        url_for('auth_blueprint.qrcode')
                        }}"></img>
                </div>
                <div class="form-group">
                    <label for="secret">Secret Token</label>
                    <input type="text" class="form-control" id="secret"
                        value="{{ secret }}" readonly>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-primary"
                        onclick="copySecret()">Copy Secret</button>
                </div>
            </form>
            <form method="POST" action="{{ url_for('auth_blueprint.two_factor_verify')}}">
                <div class="form-group">
                    <label for="otp">Generated OTP</label>
                    <input type="hidden" name="secret" value="{{ secret }}"
                        required>
                    <input type="number" class="form-control" id="otp"
                        name="otp" required>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Authenticate
                        User</button>
                </div>
            </form>
        </div>
        
    </div>
</div>

<script>
  function copySecret() {
    /* Get the text field */
    var copyText = document.getElementById("secret");

    /* Select the text field */
    copyText.select();
    copyText.setSelectionRange(0, 99999); /*For mobile devices*/

    /* Copy the text inside the text field */
    document.execCommand("copy");

    alert("Successfully copied TOTP secret token!");
  }
</script>
{% endblock %}
