{% extends 'user/userbase.html' %}
{% block body %}
<h1>Registration completed!</h1>
<p>You have already successfully created your account at the <span>SciLifeLab Data Delivery
        System</span>. To get started, please install the <a
        href="https://github.com/ScilifelabDataCentre/dds_cli">command line application.</a></p>
<p>
    Instructions how to access and manage your data can be found in the system's <a
        href="https://github.com/ScilifelabDataCentre/dds_web">documentation.</a></p>
{% endblock %}