{% extends "base.html" %}

{% block page_title -%}
Registration complete
{%- endblock %}

{% block body %}

<p class="lead">You have successfully created your account at the <span>SciLifeLab Data Delivery System</span>.</p>

<p>To get started, please install the <a href="https://scilifelabdatacentre.github.io/dds_cli/installation/">command line application.</a></p>
<p>Instructions how to access and manage your data can be found in the system's <a href="https://scilifelabdatacentre.github.io/dds_cli/">documentation</a>.</p>

{% endblock %}
