{% extends 'base.html' %}

{% block head_title %}User {{ user['username'] }}{% endblock %}

{% block body_title %}User {{ user['username'] }}{% endblock %}

{% block main %}
<table class="table table-sm table-borderless">
  <col style="width:20%">
  <col style="width:80%">
  <tr>
    <th class="text-right">Email</th>
    <td>{{ user['email'] }}</td>
  </tr>
  <tr>
    <th class="text-right">Role</th>
    <td>{{ user['role'] }}</td>
  </tr>
  <tr>
    <th class="text-right">Status</th>
    <td>{{ user['status'] }}</td>
  </tr>
  <tr>
    <th class="text-right">API key</th>
    <td>{{ user.get('apikey') or '-' }}</td>
  </tr>
</table>
{% endblock %} {# block main #}

{% block meta %}
<div class="py-1">
  <div>
    <a href="{{ url_for('api_user.display', username=user['username']) }}"
       class="badge badge-pill badge-dark">API</a>
  </div>
</div>
{% endblock %} {# block meta #}

{% block actions %}
<div class="mt-2">
  <a href="{{ url_for('.edit', username=user['username']) }}"
     role="button" class="btn btn-primary btn-block">Edit</a>
</div>
<div class="mt-2">
  {% if config['MAIL_SERVER'] %}
  <form action="{{ url_for('.reset') }}"
        method="GET">
    <input type="hidden" name="email" value="{{ user['email'] }}">
    <button type="submit" class="btn btn-block btn-primary">
      Reset password</button>
  </form>
  {% else %}
  <a href="{{ url_for('.password', username=user['username']) }}"
     role="button" class="btn btn-primary btn-block">Set password</a>
  {% endif %}
</div>
{% if g.am_admin and g.current_user['username'] != user['username'] %}
<div class="mt-2">
  {% if user['status'] != constants.ENABLED %}
  <form action="{{ url_for('.enable', username=user['username']) }}"
        method="POST">
    {{ csrf_token() }}
    <button type="submit" class="btn btn-block btn-success">Enable</button>
  </form>
  {% elif user['status'] == constants.ENABLED %}
  <form action="{{ url_for('.disable', username=user['username']) }}"
        method="POST">
    {{ csrf_token() }}
    <button type="submit" class="btn btn-block btn-danger">Disable</button>
  </form>
  {% endif %}
</div>
{% endif %} {# if g.am_admin and ... #}
{% if g.current_user['username'] == user['username'] %}
<div class="mt-2">
  <form action="{{ url_for('.logout') }}"
	method="POST">
    {{ csrf_token() }}
    <button type="submit" class="btn btn-warning btn-block">Logout</button>
  </form>
</div>
{% endif %} {# if g.current_user... #}
{% endblock %} {# block actions #}

{% block info %}
<div class="small">
  <div class="mt-4">
    Modified <span class="localtime">{{ user['modified'] }}</span>
  </div>
  <div class="mt-1">
    <a href="{{ url_for('.logs', username=user['username']) }}">Logs</a>
  </div>
  <div class="mt-1">
    Created <span class="localtime">{{ user['created'] }}</span>
  </div>
</div>
{% endblock %} {# block info #}
