{% extends 'base.html' %}

{% block head_title %}Set password{% endblock %}

{% block body_title %}Set password{% endblock %}

{% block main %}
<form action="{{ url_for('.password') }}"
      method="POST">
  {{ csrf_token() }}
  <div class="form-group row">
    <label for="username" class="col-md-2 col-form-label">Username</label>
    <div class="col-md-6">
      <input type="text" class="form-control" id="username" name="username"
             value="{{ username or '' }}">
    </div>
  </div>
  {% if config['MAIL_SERVER'] %}
  {% if not (g.am_admin and g.current_user['username'] != username) %}
  <div class="form-group row">
    <label for="code" class="col-md-2 col-form-label">Code</label>
    <div class="col-md-6">
      <input type="text" class="form-control" id="code" name="code"
             value="{{ code or '' }}" aria-describedby="codeHelp">
      <small id="codeHelp" class="form-text text-muted">
        The one-time code sent to your email address.
      </small>
    </div>
  </div>
  {% endif %} {# if not (g.am_admin ... #}
  <div class="form-group row">
    <label for="password" class="col-md-2 col-form-label">Password</label>
    <div class="col-md-6">
      <input type="password" class="form-control" id="password" name="password"
             aria-describedby="passwordHelp">
      <small id="passwordHelp" class="form-text text-muted">
        The new password must contain at least
        {{ config['MIN_PASSWORD_LENGTH'] }} characters.
      </small>
    </div>
  </div>
  {% else %}
  {% if not (g.am_admin and g.current_user['username'] != username) %}
  <div class="form-group row">
    <label for="current_password" class="col-md-2 col-form-label">
      Current password</label>
    <div class="col-md-6">
      <input type="password" class="form-control"
             id="current_password" name="current_password"
             aria-describedby="current_passwordHelp">
      <small id="current_passwordHelp" class="form-text text-muted">
        The current password for the account.
      </small>
    </div>
  </div>
  {% endif %} {# if not (g.am_admin ... #}
  <div class="form-group row">
    <label for="password" class="col-md-2 col-form-label">
      New password</label>
    <div class="col-md-6">
      <input type="password" class="form-control"
             id="password" name="password"
             aria-describedby="passwordHelp">
      <small id="passwordHelp" class="form-text text-muted">
        The new password must contain at least
        {{ config['MIN_PASSWORD_LENGTH'] }} characters.
      </small>
    </div>
  </div>
  <div class="form-group row">
    <label for="confirm_password" class="col-md-2 col-form-label">
      Confirm new password</label>
    <div class="col-md-6">
      <input type="password" class="form-control" 
             id="confirm_password" name="confirm_password"
             aria-describedby="confirm_passwordHelp">
      <small id="confirm_passwordHelp" class="form-text text-muted">
        Type the new password once more, to safeguard against
        typographical mistakes.
      </small>
    </div>
  </div>
  {% endif %} {# if config['MAIL_SERVER'] #}
  <div class="form-group row">
    <div class="col-md-2 offset-md-2">
      <button type="submit" class="btn btn-block btn-primary">
        Set password</button>
    </div>
  </div>
</form>
{% endblock %}
