{% extends 'base.html' %}

{% block head_title %}Reset password{% endblock %}

{% block body_title %}Reset password{% endblock %}

{% block main %}
<form action="{{ url_for('.reset') }}"
      method="POST">
  {{ csrf_token() }}
  <div class="form-group row">
    <label for="email" class="col-md-2 col-form-label text-right">Email</label>
    <div class="col-md">
      <div class="row">
        <div class="col-md-6">
          <input type="text" id="email" name="email"
                 class="form-control" 
                 aria-describedby="emailHelp"
                 value="{{ email }}">
        </div>
      </div>
      <small id="emailHelp" class="form-text text-muted">
        The email address of the user account. If there is no user
        account with the given email address, no message will be sent.
      </small>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-4 offset-md-2">
      <button type="submit" class="btn btn-block btn-primary"
             aria-describedby="resetHelp">Reset</button>
    </div>
  </div>
</form>
{% endblock %} {# block main #}
