{% extends "base.html" %}
{% block body %}
    <div class="d-flex justify-content-center h-100">
        <div class="panel">
            <div class="panel-header">
                <h3>Create Account</h3>
            </div>
            <div class="panel-body">
                <div class="container">
                    <form method="POST" action="{{ url_for('user.signup') }}">
                        <div class="row">
                            <div class="col input-group form-group">
                            	<input type="text" class="form-control" name="firstname" placeholder="First Name">		
                            </div>
            				<div class="col input-group form-group">
            					<input type="text" class="form-control" name="lastname" placeholder="Last Name">
            				</div>
                        </div>
                        <div class="row">
                            <div class="col input-group form-group">
                            	<input type="text" class="form-control" name="username" placeholder="Desired Username">		
                            </div>
            				<div class="col input-group form-group">
            					<input type="text" class="form-control" name="phonenumber" placeholder="Phone Number">
            				</div>
                        </div>
                        <div class="row">
                            <div class="col input-group form-group">
                            	<input type="password" class="form-control" name="password1" placeholder="Write password">		
                            </div>
            				<div class="col input-group form-group">
            					<input type="password" class="form-control" name="password2" placeholder="Confirm password">
            				</div>
                        </div>
        				<div class="input-group form-group">
        					<input type="text" class="form-control" name="useremail" placeholder="Valid Email address">
        				</div>
                        <div class="form-group d-flex justify-content-center">
                        	<input type="submit" value="Signup" class="btn submit_btn">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}