{% extends 'base.html' %}

{% block head_title %}Software{% endblock %}
{% block body_title %}Software{% endblock %}

{% block main %}
<table class="table table-sm">
  <tr>
    <th>Software</th>
    <th>Version</th>
    <th>Link</th>
  </tr>
  {% for name, version, url in software %}
  <tr>
    <td>{{ name }}</td>
    <td>{{ version }}</td>
    <td><a href="{{ url }}">{{ url }}</a></td>
  </tr>
  {% endfor %}
</table>
{% endblock %} {# block main #}

{% block meta %}
<div class="py-1">
  <div>
    <a href="{{ url_for('api_about.software') }}"
       class="badge badge-pill badge-dark">API</a>
  </div>
</div>
{% endblock %} {# block meta #}

