{% extends 'base.html' %}

{% block body %}
{% if g.current_user_id in [project['owner'], project['facility']] %}
    <h2 class="underlined tcenter">{{ project['title'] }}</h2>
    <br>
    <table class="table table-bordered">
        <thead>
            <th colspan="2" class="tcenter">Project Info</th>
        </thead>
        <tbody>
            <tr>
                <th>Description</th>
                <td>{{ project['description'] }}</td>
            </tr>
            <tr>
                <th scope="row">Category</th>
                <td>{{ project['category'] }}</td>
            </tr>
            <tr>
                <th scope="row">Sensitive project</th>
                <td>{{ project['sensitive'] }}</td>
            </tr>
            <tr>
                <th scope="row">Owner</th>
                <td>{{ project['owner'] }}</td>
            </tr>
            <tr>
                <th scope="row">Facility</th>
                <td>{{ project['facility'] }}</td>
            </tr>
            <tr>
                <th scope="row">Delivery option</th>
                <td>{{ project['delivery_option'] }}</td>
            </tr>
            <tr>
                <th scope="row">Status</th>
                <td>{{ project['status'] }}</td>
            </tr>
            <tr>
                <th scope="row">Creation date</th>
                <td>{{ project['date_created'] }}</td>
            </tr>
            {% if project['date_updated'] %}
            <tr>
                <th scope="row">Delivery date</th>
                <td>{{ project['date_updated'] }}</td>
            </tr>
            <tr>
                <th scope="row">Data size</th>
                <td>{{ project['size'] }}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    
    <br>
    {% if uploaded_data %}
        <input id="demo" type="hidden" value="dds get --source ProjectID">
        {% if not g.is_facility %}
            <div class="clipboard-row underlined">
                <h5 class="copy-icon-followed tcenter">Files Uploaded</h5>
                <div class="copy-icon hover-box" data-clipboard-target="#demo">
                    <img class="md-icon" src="{{ url_for('static', filename='img/clipboard.svg') }}" alt="Icon not found">
                </div>
            </div>
        {% else %}
            <form method="POST" enctype="multipart/form-data">
                <div class="upload-row underlined">
                    <div class="upload-followed tcenter">
                        <h5>Files Uploaded</h5>
                    </div>
                    <div class="upload-span">
                        <input type="file" id="upload" hidden/>
                        <label class="upload-label" for="upload">Upload files</label>
                    </div>
                </div>
            </form>
        {% endif %}
        <br>
        {{ uploaded_data|safe }}
    {% else %}
        <form method="POST" enctype="multipart/form-data">
            <div class="tcenter">
                <input type="file" id="upload" hidden/>
                <label class="upload-label" for="upload">Upload files</label>
            </div>
        </form>
    {% endif %}
{% else %}
    <p>You don't have access to this project, if you think you should contact Data Centre</p>
{% endif %}
{% endblock %}
