{% extends 'base.html' %}

{% block body %}

{% if g.is_facility %}
<button type="button" class="btn btn-primary float-end my-3" data-bs-toggle="modal" data-bs-target="#addProject_modal">
    <i class="far fa-folder-plus me-2"></i>
    Create Project
</button>
{% endif %}
<h1 class="mb-4">Your Projects</h1>

<div id="response-container" class="alert alert-dismissible fade show my-4 d-none">
    <span></span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<table class="table table-striped datatable" id="projects-table">
    <thead class="thead-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Category</th>
            {% if not g.is_facility %}
            <th scope="col">Facility</th>
            {% endif %}
            <th scope="col">Status</th>
            <th scope="col">Created On</th>
        </tr>
    </thead>
    <tbody>
        {% for project in projects_list %}
        <tr>
            <td><a href="{{ url_for('project.project_info', project_id=project['public_id']) }}" class="font-monospace small">{{
                    project['public_id'] }}</a></td>
            <td>{{ project['title'] }}</td>
            <td>{{ project['category'] }}</td>
            {% if not g.is_facility %}
            <td>{{ dbfunc(project['facility_id'], 'name') }}</td>
            {% endif %}
            <td>{{ project['status'] }}</td>
            <td>{{ timestamp(datetime_string=project['date_created']) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if g.is_facility %}
<!-- Add Project Modal -->
<div class="modal fade" id="addProject_modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Project</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" id="addProject_form" action="{{ url_for('project.add_project') }}"
                    class="needs-validation" novalidate>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="owner" id="addProject_owner"
                            placeholder="Project owner (data recipient)" required>
                        <label for="addProject_owner">Project owner (data recipient)</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="title" id="addProject_title"
                            placeholder="Project title" required>
                        <label for="addProject_title">Project title</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" name="description" id="addProject_description"
                            placeholder="Project description text" style="height: 100px"></textarea>
                        <label for="addProject_description">Project description text</label>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">
                        <i class="far fa-folder-plus me-2"></i>
                        Create Project
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}



{% block javascript %}
{% if g.is_facility %}
<script type="text/javascript">
$(function() {

    $('#addProject_form').submit(function (e) {

        // Stop regular form submission
        e.preventDefault();

        // Check if the central form validation function passed
        if($(this).hasClass('failed-validation')){
            return;
        }

        $('#addProject_form button').prop('disabled', true);
        var dateToday = new Date();
        dateToday = dateToday.toISOString().split('T')[0];

        // Send the form data via AJAX
        $.post("{{ url_for('project.add_project') }}", $(this).serialize(), function(data){

            // Show the success message
            $('#response-container').addClass('alert-success').removeClass('d-none alert-danger');
            $('#response-container span').html('<strong>Success!</strong> '+data.message);

            // Add to the table
            var dataTable = $('#projects-table').DataTable();
            dataTable.row.add([
                '<a href="/project/'+data.project_id+'" class="font-monospace small">'+data.project_id+'</a>',
                $('#addProject_title').val(),
                'testing', // TODO - needs to be set dynamically?
                'Ongoing', // TODO - needs to be set dynamically?
                dateToday
            ]).draw();

            // Hide the modal and reset the form
            $('#addProject_modal').modal('hide');
            $(this).trigger("reset");
            $('#addProject_form button').prop('disabled', false);

        }).fail(function(data){

            // Show an error message
            $('#response-container').addClass('alert-danger').removeClass('d-none alert-success');
            $('#response-container span').html('<strong>Error!</strong> '+data.responseJSON.message);

            // Hide the modal, do not reset the form
            $('#addProject_modal').modal('hide');
            $('#addProject_form button').prop('disabled', false);
        });

    });

});

</script>
{% endif %}
{% endblock javascript %}
