{% extends 'base.html' %}

{% block body %}

<h1 class="mb-4"><span class="badge bg-light text-muted border">{{ project.public_id }}</span> {{ project.title }}</h1>


<table class="table table-hover mb-5">
    <tbody>
        <tr>
            <th>Project ID</th>
            <td>{{ project.public_id }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ project.description }}</td>
        </tr>
        <tr>
            <th>Category</th>
            <td>{{ project.category }}</td>
        </tr>
        <tr>
            <th>Users</th>
            <td><code>{{ project.users }}</code></td>
        </tr>
        <tr>
            <th>Facility</th>
            <td>{{ project.facility_name }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ project.status }}</td>
        </tr>
        <tr>
            <th>Creation date</th>
            <td>{{ project.date_created }}</td>
        </tr>
        {% if project.date_updated %}
        <tr>
            <th>Delivery date</th>
            <td>{{ project.date_updated }}</td>
        </tr>
        <tr>
            <th>Data size</th>
            <td>{{ project.size }}</td>
        </tr>
        {% endif %}
    </tbody>
</table>

{% if g.is_facility %}

<h2 class="mb-4">Upload Files</h2>
<form id="data-upload-form" method="POST" enctype="multipart/form-data" action="{{ url_for('project.data_upload') }}"
    autocomplete="off" class="mb-5">
    <input type="hidden" name="project_id" value="{{ project.public_id }}">
    <input type="hidden" name="upload_limit" value="{{ format_size(upload_limit) }}">
    <div class="mb-3">
        <label class="form-label" for="file-uploader">Upload Files</label>
        <input class="form-control" type="file" id="file-uploader" name="files"
            onchange="$(this).closest('form').submit()" multiple>
    </div>
    <div class="mb-3">
        <label class="form-label" for="folder-uploader">Upload Folder</label>
        <input class="form-control" type="file" id="folder-uploader" name="folder" multiple webkitdirectory mozdirectory
            onchange="$(this).closest('form').submit()">
    </div>
</form>
{% endif %}

<h2 class="mb-4">Project Files</h2>

{% if uploaded_data %}

{% if not g.is_facility %}

{% if project.unformated_size <= download_limit %}
<a href="{{ url_for('project.data_download', project_id=project.public_id) }}" class="btn btn-primary btn-custom float-end">
    <i class="fas fa-download me-2"></i> Download all
</a>
{% else %}
<div class="alert alert-info" role="alert">
    This project is too large to be downloaded via a web browser (over {{format_size(download_limit) }}).
    Files / folders that are under the threshold can be downloaded individually.
    Alternatively, Please use the <code>dds_cli</code> command line tool, available here:
    <a href="https://github.com/scilifelabdataCentre/dds_cli">https://github.com/scilifelabdataCentre/dds_cli</a>
</div>
{% endif %}

{% endif %}

<div id="uploaded-file-list">{{ uploaded_data | safe }}</div>

{% else %}

<div class="alert alert-light border">
    No files found.
</div>

{% endif %}

{% endblock %}



{% block javascript %}
<script type="text/javascript">
$(function () {
    // Toggle the folder icon when opening / closing
    $('.folder').click(function () {
        $(this).children('.folder-icon').toggleClass('fa-folder, fa-folder-open');
    });
});
</script>
{% endblock %}
