<!-- Gives same logo etc as index.html -->
{% extends "index.html" %}

<!-- Back button -->
{% block back_button %}
  <a href="{{ reverse_url('home') }}">Back</a>
{% end %}
<!-- Back button end -->

{% block content %}

<!-- New delivery form start -->
<div class="container">
<br>
  <h3>Register new delivery</h3>
  <br>
  <!-- FORM START -->
  <form action="" role="form" enctype="multipart/formdata">
    {% module xsrf_form_html() %}

    <h4>Project Information</h4>
    <hr>
    <!-- Project name -->
    <div class="form-group">
      <label for="prj_name">Name</label>
      <input type="text" class="form-control" name="prj_name" id="prj_name" placeholder="Project name">
    </div>

    <!-- row 1 start -->
    <div class="row">
      <!-- Project category -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="prj_ord_cat">Category</label>
          <select class="form-control" name="prj_ord_cat" id="prj_ord_cat" placeholder="Project category">
            <option value="cat1">Category 1</option>
            <option value="cat2">Category 2</option>
            <option value="cat3">Category 3</option>
          </select>
        </div>
      </div>
      <!-- Project/Order ID -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="prj_ord_id">Order ID</label>
          <input type="text" class="form-control" name="prj_ord_id" id="prj_ord_id" placeholder="Project's order id">
        </div>
      </div>
    </div>
    <!-- row 1 end -->

    <!-- row 2 start -->
    <div class="row">
      <!-- PI name -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="prj_pi_name">PI Name</label>
          <input type="text" class="form-control" name="prj_pi_name" id="prj_pi_name" placeholder="Name of PI">
        </div>
      </div>
      <!-- PI email -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="prj_pi_email">PI Email</label>
          <input type="text" class="form-control" name="prj_pi_email" id="prj_pi_email" placeholder="Email of PI">
        </div>
      </div>
    </div>
    <!-- row 2 end -->

    <!-- Project description -->
    <div class="form-group">
      <label for="prj_desc">Description</label>
      <input type="text" class="form-control form-control-lg" name="prj_desc" id="prj_desc" placeholder="Project description">
    </div>
    <br>

    <h4>Data Information</h4>
    <hr>
    <!-- row 3 start -->
    <div class="row">
      <!-- Data type -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="data_type">Data type</label>
          <select class="form-control" name="data_type" id="data_type">
            <option value="genomics">Genomics</option>
          </select>
        </div>
      </div>
      <!-- File formats -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="data_format">File formats</label>
          <input type="text" class="form-control" name="data_format" id="data_format" placeholder="Fastq, BAM, SAM, etc">
        </div>
      </div>
    </div>
    <!-- row 3 end -->

    <!-- file row start -->
    <input type="file" name="file" multiple>
    <!-- file row end -->

    <!-- row 4 start -->
    <div class="row">
      <!-- Data size -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="data_size">Data size</label>
          <input type="text" class="form-control" name="data_size" id="data_size" placeholder="Approx data size in GB">
        </div>
      </div>
      <!-- Sensitive? -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="data_sensitive">Sensitive data</label>
          <input type="text" class="form-control" name="data_sensitive" id="data_sensitive" placeholder="Yes or No">
        </div>
      </div>
    </div>
    <!-- row 4 end -->
    <br>

    <h4>Delivery Information</h4>
    <hr>
    <!-- row 5 start -->
    <div class="row">
      <!-- Delivery date -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="deliv_date">Delivered date</label>
          <input type="text" class="form-control" name="deliv_date" id="deliv_date" placeholder="2019-03-26">
        </div>
      </div>
      <!-- Recipient -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="deliv_recip">Recipient</label>
          <input type="text" class="form-control form-control-lg" name="deliv_recip" id="deliv_recip" placeholder="Email of recipient">
        </div>
      </div>
    </div>
    <!-- row 5 end -->
    <button class="btn btn-primary" type="submit">Save</button>
    </form>
    <!-- New delivery form end -->
</div>
{% end %}
