
{% extends "index.html" %}

{% block content %}
    <div class="container">
      <div class="col-md-3">
        <form action="{{ reverse_url('create') }}" role="form" method="POST">
            {% module xsrf_form_html() %}
            <button class="btn btn-primary" type="submit">Create</button>
        </form>
      </div>
      <div class="col-md-3">
        Logged in as: {{user}}
      </div>
      <div class="col-md-3">
        <form action="{{ reverse_url('logout') }}" role="form" method="GET">
            {% module xsrf_form_html() %}
            <button class="btn btn-primary" type="submit">Log Out</button>
        </form>
      </div>
    </div>

    <div class="container">
      <h2>Projects</h2>
      <br>
      <table style="width:100%">
        <tr>
          <th>Project</th>
          <th>Order date</th>
          <th>Status</th>
        </tr>
        <tr class="collapsible">
          <div class="content"><p>This is hopefully collapsible</p></div>
          {% for p in projects %}
          <td>{{ p[1] }}</td>
          <td>{{ p[5] }}</td>
          <td>{{ p[6] }}</td>
          {% end %}
        </tr>
      </table>
    </div>

    <script>
      var coll = document.getElementsByClassName("collapsible");
      var i;

      for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var content = this.nextElementSibling;
          if (content.style.display === "block") {
            content.style.display = "none";
          } else {
            content.style.display = "block";
          }
        });
      }
      </script>

{% end %}
