<!DOCTYPE html>

<html>
  <!-- HEAD START -->
  <head>
    <title>Data Delivery Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css links -->
    <link rel="stylesheet" type="text/css"
      href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
      href="https://cdn.datatables.net/1.10.11/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ static_url('style.css') }}">

    <!-- Scripts    defer: script will not run until page has loaded -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script defer src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script defer src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>
  </head>
  <!-- HEAD END -->

  <!-- BODY START -->
  <body>
    <!-- Header (Logo etc) Start -->
    <div>
      <img class="head_logo" src="{{ static_url('data_centre_logo.png') }}">
      <div class="arch">
    </div>
    <div class="header"> Data delivery portal </div>
    <!-- Header (Logo etc) End -->

    <!-- Main div start -->
    <div class="main">
      <!-- Sidenav -->
      {% try %}
        {% if curr_user %}
          <div class="sidenav" style="{% if curr_user %}width:180px;{% else %}width:0px;{% end %}">
            {% block nav_content %}
              {% block back_button %}

              {% end %}   <!-- block back_button -->
              <!-- <a href="{{ reverse_url('home') }}">Home Page</a> -->
              <a class="a" href="{{ reverse_url('profile') }}">Profile</a>
              {% block new_delivery %}

              {% end %}   <!-- block new_delivery -->
              <a class="a" href="{{ reverse_url('info') }}">Information</a>
              <a class="a" href="{{ reverse_url('contact') }}">Contact</a>
              <a class="a" href="{{ reverse_url('logout') }}">Log Out</a>
            {% end %}   <!-- block nav_content -->
          </div>
        {% end %}   <!-- if curr_user -->
      {% except %}  <!-- try -->
      {% end %}   <!-- try except -->

      {% block content %}
      <div class="container">
        {% block addfile_content %}
        {% end %}
        <!-- Login form start -->
      	<div class="container login-container">
      		<div class="panel panel-default">
            <!-- "Sign In" -->
      			<div class="panel-heading text-center">
      				<span class="glyphicon glyphicon-user"></span>
      				Sign In
      			</div>

            <!-- Form -->
      			<div class="panel-body">
      				<form action="{{ reverse_url('login') }}" role="form" method="post">
                {% module xsrf_form_html() %}
                <!-- Email -->
                <div class="form-group">
      						<label for="user_email">Email</label>
      						<input type="text" class="form-control" name="user_email" id="user_email"
                    placeholder="User account email address">
      					</div>
                <!-- Password -->
      					<div class="form-group">
      						<label for="password">Password</label>
      						<input type="password" class="form-control" name="password" id="password">
      					</div>
                <!-- Button -->
      					<div class="form-group">
      						<button type="submit" class="btn btn-info btn-block">
      							<span class="glyphicon glyphicon-log-in"></span>
      							Login
      						</button>
      					</div>
      				</form>
      			</div>
            <!-- Form end -->
      		</div>
      	</div>
        <!-- Login form end -->
      </div>
      {% end %}
    </div>
    <!-- Main div end -->
  </body>
  <!-- BODY END -->

</html>
