<!-- Gives same logo etc as index.html -->
{% extends "index.html" %}

{% block back_button %}
  <a href="{{ reverse_url('home') }}">Back</a>
{% end %}

{% block content %}
<!-- All files in current project -->
<br>
<br>
<div class="container">
  <div class="row">
    <h3 align="center">Project: {{ project['name'] }}</h3>
    <br>
    <div class="container" align="center">
      {{ project['description'] }}
    </div>
    <br>
    <br>
    <div class="col-sm-4">
      <table>
          <tr>
            <th>Order date:</th>  <td>{{ project['order_date'] }}</td>
          </tr>
          {% if project['status'] == "Uploaded" %}
            <tr>
              <th>Final delivery date:</th> <td></td>
            </tr>
          {% else %}
            <tr>
              <th>Status:</th>  <td>{{ project['status'] }}</td>
            </tr>
          {% end %}
          <tr>
            <th>Project category:</th>  <td>{{ project['category'] }}</td>
          </tr>
          <tr>
            <th>Sensitive:</th> <td>{% if project['sensitive'] == "True" %} Yes {% else %} No {% end %}</td>
          </tr>
          <tr>
            <th>PI:</th>  <td>{{ project['pi'] }}</td>
          </tr>
          <br>
      </table>
      <br>
      <br>
      <table class="comments">
        <tr>
          <th>Comments/Information:</th>
        </tr>
        <tr>
          <td>{{ project['comments'] }}</td>
        </tr>
      </table>
    </div>
    <div class="col-sm-7 pull-right">
      {% if files != {} %}
      <div class="row">
        <div>
          <table id="files">
            <thead>
              <tr>
                <th>File name</th>
                <th>Format</th>
                <th>Size</th>
                <th>Date Uploaded</th>
                <th>Download</th>
              </tr>
            </thead>
            <tbody>
              {% for f in files %}
                <tr>
                  <td>{{ f }}</td>
                  <td>{{ files[f]['format'] }}</td>
                  <td>{{ files[f]['size'] }}</td>
                  <td>{{ files[f]['date_uploaded'] }}</td>
                  <td>
                    <button class="btn"><i class="fa fa-download" align="center"></i></button>
                  </td>
                </tr>
              {% end %}
            </tbody>
          </table>
        </div>
      </div>
      {% else %}
        <p>This project does not contain any uploaded files.</p>
      {% end %}
    </div>
  </div>
</div>
<br><br>

<script>
  $(document).ready(function() {
    $('#files').DataTable( {
      responsive: true,
      paging: true
    })
  })
</script>

{% end %}
