<!-- Gives same logo etc as index.html -->
{% extends "index.html" %}

<!-- Adds back button to side nav bar -->
{% block back_button %}
  <a href="{{ reverse_url('home') }}">Back</a>
{% end %}

{% block content %}
<br><br>

<!-- All files and associated information in current project -->
<div class="container">
  <h3 align="center">Project: {{ project['name'] }}</h3>
  <br>

  <button id="collapse-button" data-toggle="collapse" data-target="#addfiles_div">
    {% if addfiles %}<span class="close_add"></span>Exit file upload{% else %}<span class="open_add"></span>Add files{% end %}</button>
  <div id="addfiles_div" class="row container collapse {% if addfiles %}in{% else %}{% end %}">
      <!-- File upload -->
      <form action="{{ reverse_url('upload', projid) }}" method="post" enctype="multipart/form-data">
        {% module xsrf_form_html() %}
        <div class="newfiles">
          <input name="filesToUpload" id="filesToUpload" type="file" multiple/>
        </div>
        <div class="newfiles">
          <input type="submit" name="submit" value="Upload File(s)"/>
        </div>
      </form>
      <output id="list"></output>
    </div>
  <br><br>

  <!-- Main content: Project info and files -->
  <div class="row">
    <!-- Project description area -->
    <div class="container" align="center">
      {{ project['description'] }}
    </div>
    <br><br>
    <!-- Project information area (left) -->
    <div class="col-sm-4">
      <table>
          <tr>
            <th>Order date:</th>  <td>{{ project['order_date'] }}</td>
          </tr>
          {% if project['status'] == "Uploaded" %}
            <tr>
              <th>Final delivery date:</th> <td></td>
            </tr>
          {% else %}
            <tr>
              <th>Status:</th>  <td>{{ project['status'] }}</td>
            </tr>
          {% end %}
          <tr>
            <th>Project category:</th>  <td>{{ project['category'] }}</td>
          </tr>
          <tr>
            <th>Sensitive:</th> <td>{% if project['sensitive'] == "True" %} Yes {% else %} No {% end %}</td>
          </tr>
          <tr>
            <th>PI:</th>  <td>{{ project['pi'] }}</td>
          </tr>
          <br>
      </table>
      <br>
      <br>
      <table class="comments">
        <tr>
          <th>Comments/Information:</th>
        </tr>
        <tr>
          <td>{{ project['comments'] }}</td>
        </tr>
      </table>
    </div>
    <!-- File area (right) -->
    <div class="col-sm-7 pull-right">
      {% if files != {} %}
        <div class="row">
          <div>
            <table id="files">
              <thead>
                <tr>
                  <th>File name</th>
                  <th>Format</th>
                  <th>Size</th>
                  <th>Date Uploaded</th>
                  <th>Download</th>
                </tr>
              </thead>
              <tbody>
                {% for f in files %}
                  <tr>
                    <td>{{ f }}</td>
                    <td>{{ files[f]['format'] }}</td>
                    <td>{{ files[f]['size'] }}</td>
                    <td>{{ files[f]['date_uploaded'] }}</td>
                    <td>
                      <button class="btn"><i class="fa fa-download" align="center"></i></button>
                    </td>
                  </tr>
                {% end %} <!-- for f in files -->
              </tbody>
            </table>
          </div>
        </div>
      {% else %} <!-- if files != {} -->
        <p>This project does not contain any uploaded files.</p>
      {% end %} <!-- if files != {} -->
    </div>
  </div>
  <br><br>
  <!-- End main content -->

  <!-- Buttons (finished or add files) -->
  <div class="row">
    <div class="col-sm-6">
      <button href="#" class="btn btn-primary pull-left">Mark project as finished</button>
    </div>
    {% if not addfiles %}
      <div class="col-sm-6">
        <button href="#" class="btn btn-primary pull-right">Add files</button>
      </div>
    {% end %} <!-- if not addfiles -->
  </div>
</div>
<br><br>

<!-- JAVASCRIPT -->
<script>
  // Makes DataTable (pagination etc)
  $(document).ready(function() {
    $('#files').DataTable( {
      responsive: true,
      paging: true
    })
  })

  // Check for the various File API support.
  if (window.File && window.FileReader && window.FileList && window.Blob) {
  // Great success! All the File APIs are supported.
  } else {
  alert('The File APIs are not fully supported in this browser.');
  }

  // Display chosen files
  function handleFileSelect(evt) {
    var files = evt.target.files;

    var output = [];
    for (var i=0, f; f=files[i]; i++) {
      output.push('<tr>',
                    '<td>', escape(f.name), '</td>',
                    '<td>', f.type || 'n/a', '</td>',
                    '<td>', f.size, ' bytes </td>',
                    '<td>', f.lastModifiedDate ? f.lastModifiedDate.toLocalDateString() : 'n/a', '</td>',
                  '</tr>');
    }
    document.getElementById('list').innerHTML = '<table>' +
                                                  '<thead>' +
                                                    '<tr>' +
                                                      '<th>File name</th>' +
                                                      '<th>Format</th>' +
                                                      '<th>Size</th>' +
                                                      '<th>Last modified</th>' +
                                                    '</tr>' +
                                                  '</thead>' +
                                                  '<tbody>' +
                                                    output.join('') +
                                                  '</tbody>' +
                                                '</table>';
  }
  document.getElementById('filesToUpload').addEventListener('change', handleFileSelect, false);

  // Change content of collapse button when clicked
  $('#collapse-button').click(function () {
  if($('button span').hasClass('open_add'))
  {
      $('#collapse-button').html('<span class="close_add"></span>Exit file upload');
  }
  else
  {
      $('#collapse-button').html('<span class="open_add"></span>Add files');
  }
  });

</script>

{% end %}
