
// General animation stuff
.dds_animate {
    transform-origin: center;
    transform-box: fill-box;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

// Animate the hero image cogs
#cog_1, #cog_2 {
    @extend .dds_animate;
    animation-duration: 1000ms;
}
#cog_1 {
    animation-name: spin_clockwise;
}
#cog_2 {
    animation-name: spin_counter_clockwise;
}
@keyframes spin_clockwise {
    to {
        transform:rotate(360deg);
    }
}
@keyframes spin_counter_clockwise {
    to {
        transform:rotate(-360deg);
    }
}

// Animate the cloud pulsating
#cloud {
    @extend .dds_animate;
    animation: pulse 3s linear infinite;
}
@keyframes pulse {
    50% {
        transform:scale(1.05);
    }
    to {
        transform:scale(1);
    }
}
