# Pytest
# Runs all test in the dds_web by executing the docker compose yml files for testing.
# The actual pytest command is not in this file.
---
name: Pytest

on:
  push:
    branches: [dev, master]
  pull_request:
  workflow_dispatch:

jobs:
  pytest:
    concurrency:
      group: ${{ github.ref }}-pytest
      cancel-in-progress: true
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run tests against database container
        run: docker compose -f docker-compose.yml -f tests/docker-compose-test.yml up --build --exit-code-from backend

      - name: Setup upterm session
        uses: lhotari/action-upterm@v1
        if: ${{ failure() }}
        with:
          ## If no one connects after 5 minutes, shut down server.
          wait-timeout-minutes: 5

      - uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage/report.xml
