---
# Build and publish docker image(s)
# The created image will be checked by trivy and security issues will be published to the repositorys security tab
# Publishing to Dockerhub requires a username and token
# as the secrets DOCKERHUB_USERNAME and DOCKERHUB_TOKEN
# remember to change repo-name and set dockerfile(s)/image name(s) in the matrix

name: Publish Docker Image
on:
  # generate image whenever there is a push to the listed branches
  push:
    branches:
      - master
      - dev
  # !!! Remove this when testing is done
  pull_request:
    types: [opened, edited, reopened]
  # generate images for releases, using the tag name
  # the newest one will be latest as well
  release:
    types: [published]
jobs:
  push_to_registry:
    # only generate images when in the named repo
    # (to avoid running the action in forks)
    if: github.repository == 'scilifelabdatacentre/dds_web'
    name: Publish Docker Image
    runs-on: ubuntu-latest
    # Cancel earlier job if there is a new one for the same branch/release
    concurrency:
      group: ${{ github.ref }}-docker-build
      cancel-in-progress: true
    # Define the images/tags to build; will run in parallell
    strategy:
      matrix:
        include:
          - dockerfile: Dockerfiles/Dockerfile.backend
            # Should this be dds_web-backend?
            images: |
              docker.io/scilifelabdatacentre/dds-backend
              ghcr.io/scilifelabdatacentre/dds-backend
    permissions:
      contents: read
      packages: write
      security-events: write
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
      # only needed when publishing to Dockerhub
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          # available in scilifelabdatacentre, ask admin for help
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      # only needed when publishing to Github (ghcr.io)
      - name: Log in to Github Container Repository
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          # will run as the user who triggered the action, using its token
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Docker Meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ matrix.images }}
          tags: |
            type=ref,event=branch
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
      - name: Ensure lowercase name
        run: echo IMAGE_REPOSITORY=$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]') >> $GITHUB_ENV
      - name: Build for scan
        uses: docker/build-push-action@v3
        with:
          file: Dockerfiles/backend.Dockerfile
          context: .
          push: false
          target: production
          tags: ghcr.io/${{ env.IMAGE_REPOSITORY }}:sha-${{ github.sha }}
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.7.1
        with:
          image-ref: "ghcr.io/${{ env.IMAGE_REPOSITORY }}:sha-${{ github.sha }}"
          format: "sarif"
          output: "trivy-results.sarif"
          severity: "CRITICAL,HIGH"
      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: "trivy-results.sarif"
          category: trivy-build
      - name: Build and Publish
        uses: docker/build-push-action@v3
        with:
          file: Dockerfiles/backend.Dockerfile
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
