# Snyk: Scan for for vulnerabilities in your Python code and dependencies
# The results are then uploaded to GitHub Security Code Scanning
# https://github.com/snyk/actions/
# ---
# Action failing? Go through the alerts and either manually fix, dismiss or ignore.
#                 Add info on ignored or dismissed alerts.
---
name: Snyk

on:
  push:
    branches: ["dev", master]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: ["dev"]
  schedule:
    - cron: "0 7,13 * * *"

jobs:
  snyk:
    permissions:
      contents: read
      security-events: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Run Snyk Code to check for vulnerabilities
        uses: snyk/actions/python@master
        continue-on-error: true # To make sure that SARIF upload gets called
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          command: code test
          args: --sarif-file-output=snyk-code.sarif
      - name: Upload Snyk Code result to GitHub Code Scanning
        if: always()
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: snyk-code.sarif
          category: snyk-code
      - name: Run Snyk Open Source to check dependencies
        uses: snyk/actions/python@master
        continue-on-error: true # To make sure that SARIF upload gets called
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          command: test
          args: --file=requirements.txt --package-manager=pip --sarif-file-output=snyk-oss.sarif
      - name: Upload Snyk Open Source result to GitHub Code Scanning
        if: always()
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: snyk-oss.sarif
          category: snyk-oss
